.profilepic {
  animation: bounce 2s ease-in-out forwards 2;
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}





@media screen and (max-width:1060px) {
  .profilepic {
    animation: none;
  }
  .skill_content {
    flex-direction: column;
    margin-right: -5px;
  }

  #VersionControl {
    margin-right: 0;
    margin-left: 0;
  }
}